/* Estilo para las columnas */
.column {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

/* Clearfix para evitar que el contenido se solape */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Midas para la web sea responsive*/
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}
.bar{
    
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%; 
        float: none; 
    }
}